#title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}
button {
    background-color: rgb(184, 187, 204);
    border-style: solid;
    border-color: aqua;
    border-width: 2px;
    height:35px;
}

button:hover {
    border-color: rgb(47, 65, 65);
}

div.box {
    border: 1px black solid;
    padding:5px;
    margin: 5px;
}

#console {
    position:relative;
    height:700px;
    color: lightgreen;
    background-color: rgb(38, 36, 61);
    width:90%;
    overflow-y:auto;
    font-family: monospace;
}

#left {
    position:absolute;
    top:0px;
    left:0%;
    width:49%;
}
#right {
    position:absolute;
    top:0px;
    left:50%;
    width:49%;

}
#contains {
    position:relative;
    width:100%;
    padding: 3px;
}

body {
    background-color: rgb(190, 219, 219);
}

#subTitle {
    text-align:center;
    font-weight: bold;
    width:100%;
}

#unitList {
    width: max-content;
}

#unitP {
    display: inline;
}